<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <div class="text-lg-end pt-2">
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->

      <button
        class="btn btn-primary btn-sm mx-2"
        type="button"
        [disabled]="service.isExportToExcelBusy"
        (click)="exportToExcel()"
      >
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button
        *abpPermission="'ExampleAbpApplicationLayer.Orders.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewOrder' | abpLocalization }}
      </button>
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    @if (service.filters; as filters) {
      <abp-advanced-entity-filters-form>
        <form #filterForm (keyup.enter)="list.get()">
          <!--<suite-custom-code-block-3>-->
          <!--</suite-custom-code-block-3>-->
          <div class="row">
            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="minOrderDate">
                  {{ '::MinOrderDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    id="minOrderDate"
                    class="form-control"
                    #minOrderDateInput
                    #minOrderDateDatepicker="ngbDatepicker"
                    name="minOrderDate"
                    ngbDatepicker
                    container="body"
                    readonly
                    (click)="minOrderDateDatepicker.toggle()"
                    (keyup.space)="minOrderDateDatepicker.toggle()"
                    [(ngModel)]="filters.orderDateMin"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  @if (minOrderDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          minOrderDateDatepicker.writeValue(null);
                          minOrderDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="maxOrderDate">
                  {{ '::MaxOrderDate' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    id="maxOrderDate"
                    class="form-control"
                    #maxOrderDateInput
                    #maxOrderDateDatepicker="ngbDatepicker"
                    name="maxOrderDate"
                    ngbDatepicker
                    readonly
                    (click)="maxOrderDateDatepicker.toggle()"
                    (keyup.space)="maxOrderDateDatepicker.toggle()"
                    [(ngModel)]="filters.orderDateMax"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  @if (maxOrderDateInput.value) {
                    <div class="input-group-append">
                      <button
                        class="btn btn-link px-2"
                        type="button"
                        [title]="'AbpUi::Clear' | abpLocalization"
                        (click)="
                          maxOrderDateDatepicker.writeValue(null);
                          maxOrderDateDatepicker.manualDateChange(null, true)
                        "
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  }
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="minTotalAmount">
                  {{ '::MinTotalAmount' | abpLocalization }}
                </label>

                <input
                  id="minTotalAmount"
                  type="number"
                  class="form-control"
                  [(ngModel)]="filters.totalAmountMin"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="maxTotalAmount">
                  {{ '::MaxTotalAmount' | abpLocalization }}
                </label>

                <input
                  id="maxTotalAmount"
                  type="number"
                  class="form-control"
                  [(ngModel)]="filters.totalAmountMax"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>

            <div class="col-12 col-sm-auto">
              <div class="mb-3">
                <label class="form-label" for="statusFilter">
                  {{ '::Status' | abpLocalization }}
                </label>

                <select
                  id="statusFilter"
                  class="form-select form-control"
                  [(ngModel)]="filters.status"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <option [ngValue]="null"></option>
                  <option
                    *ngFor="let option of orderStatusOptions; trackBy: track.by('value')"
                    [ngValue]="option.value"
                  >
                    {{ '::Enum:OrderStatus.' + option.value | abpLocalization }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-auto align-self-end mb-3">
              <div class="row">
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                    <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                  </button>
                </div>
                <div class="col-6 col-sm-auto d-grid">
                  <button type="button" class="btn btn-primary" (click)="list.get()">
                    <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--<suite-custom-code-block-4>-->
          <!--</suite-custom-code-block-4>-->
        </form>
      </abp-advanced-entity-filters-form>
    }
  </abp-advanced-entity-filters>
  <!--<suite-custom-code-block-5>-->
  <!--</suite-custom-code-block-5>-->
  <div class="card">
    <!--<suite-custom-code-block-6>-->
    <!--</suite-custom-code-block-6>-->
    <div class="card-body">
      <!--<suite-custom-code-block-7>-->
      <!--</suite-custom-code-block-7>-->
      <ngx-datatable
        #orderTable
        default
        [rows]="service.data.items"
        [count]="service.data.totalCount"
        [list]="list"
      >
        <!--<suite-custom-code-block-8>-->
        <!--</suite-custom-code-block-8>-->

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail rowHeight="100%">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <ul id="order-nav-tabs mb-0" ngbNav #nav="ngbNav" class="nav-tabs">
              <li
                *abpPermission="'ExampleAbpApplicationLayer.OrderItems'"
                id="order-item-informations"
                ngbNavItem
              >
                <a ngbNavLink>{{ '::OrderItem' | abpLocalization }}</a>

                <ng-template ngbNavContent>
                  <app-order-item [orderId]="row.id" />
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="m-0 fade-in-top"></div>
          </ng-template>
        </ngx-datatable-row-detail>
        @if (isChildEntitiesPermitted) {
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                href="javascript:void(0)"
                class="ngx-datatable-toggle text-decoration-none text-muted fa"
                [class.fa-angle-down]="!expanded"
                [class.fa-angle-up]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>
        }

        @if (isActionButtonVisible) {
          <ngx-datatable-column
            [name]="'AbpUi::Actions' | abpLocalization"
            [maxWidth]="150"
            [width]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog me-1" aria-hidden="true"></i>
                  {{ 'AbpUi::Actions' | abpLocalization }}
                </button>

                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *abpPermission="'ExampleAbpApplicationLayer.Orders.Edit'"
                    (click)="update(row)"
                  >
                    {{ 'AbpUi::Edit' | abpLocalization }}
                  </button>

                  <button
                    ngbDropdownItem
                    *abpPermission="'ExampleAbpApplicationLayer.Orders.Delete'"
                    (click)="delete(row)"
                  >
                    {{ 'AbpUi::Delete' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        }
        <ngx-datatable-column name="{{ '::OrderDate' | abpLocalization }}" prop="orderDate">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.orderDate | abpUtcToLocal: 'date' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::TotalAmount' | abpLocalization }}" prop="totalAmount">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.totalAmount }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Status' | abpLocalization }}" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.status !== null ? ('::Enum:OrderStatus.' + row.status | abpLocalization) : '' }}
          </ng-template>
        </ngx-datatable-column>
        <!--<suite-custom-code-block-9>-->
        <!--</suite-custom-code-block-9>-->
      </ngx-datatable>
      <!--<suite-custom-code-block-10>-->
      <!--</suite-custom-code-block-10>-->
    </div>
  </div>
  <!--<suite-custom-code-block-11>-->
  <!--</suite-custom-code-block-11>-->
</abp-page>
<!--<suite-custom-code-block-12>-->
<!--</suite-custom-code-block-12>-->

@defer (when serviceDetail.isVisible) {
  @if (serviceDetail.isVisible) {
    <app-order-detail-modal />
  }
}
