@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Public.Web.Pages.Account.ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ForgotPassword"].Value;
}
@if (!Model.LocalLoginDisabled)
{
    <div class="account-module-form">
        <form method="post">
            <p>@L["SendPasswordResetLink_Information"]</p>

            <abp-input asp-for="Email" floating-label="true" required-symbol="false"/>

            <div class="d-flex gap-2"> 
                <a asp-page="./Login" class="btn btn-outline-primary btn-lg text-nowrap" asp-all-route-data="@(new Dictionary<string, string>{ {"returnUrl",Model.ReturnUrl}, {"returnUrlHash",Model.ReturnUrlHash} })">
                    <i class="bi bi-arrow-left-short"></i> @L["Login"]
                </a>
                <abp-button button-type="Primary" type="submit" class="btn btn-primary btn-lg text-nowrap flex-fill"><i class="bi bi-send me-1"></i>@L["Submit"]</abp-button>
            </div>
        </form>
    </div>
}
