<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewOrderItem') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="order-item"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::OrderItem' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="order-item-qty">
                  {{ '::Qty' | abpLocalization }} *
                </label>

                <input
                  type="number"
                  id="order-item-qty"
                  formControlName="qty"
                  class="form-control"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="order-item-price">
                  {{ '::Price' | abpLocalization }} *
                </label>

                <input
                  type="number"
                  id="order-item-price"
                  formControlName="price"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="order-item-total-price">
                  {{ '::TotalPrice' | abpLocalization }} *
                </label>

                <input
                  type="number"
                  id="order-item-total-price"
                  formControlName="totalPrice"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="order-item-product-name">
                  {{ '::ProductName' | abpLocalization }}
                </label>

                <input
                  id="order-item-product-name"
                  formControlName="productName"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="order-item-product-id">
                  {{ '::Product' | abpLocalization }} *
                </label>
                <abp-lookup-select
                  cid="order-item-product-id"
                  formControlName="productId"
                  [getFn]="service.getProductLookup"
                />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="order-item">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
